@{
    ViewData["Title"] = "Configuracion";
}

<!-- Comienzo Form -->
    <div class="centrar">
      <form id="configform" method="get" action='@Url.Action("Comenzar")'>
        <h1 class="titulopag">Configuración del juego</h1>
        <div id="formconfig">
          <!-- Select 1 categorias -->

          <div class="configuracion" id="catgs">
            <div class="card">
              <h2 class="card-header">Categoria</h2>

              <div class="card-body">
                <select
                  class="form-select"
                  size="6"
                  aria-label="categorias"
                  name="categoria"
                >
                <option value="@ViewBag.Categorias[0].IdCategoria" selected>@ViewBag.Categorias[0].Nombre</option>
                  @for(int i = 1; i<ViewBag.Categorias.Count;i++){
        
            <option value='@ViewBag.Categorias[i].IdCategoria'> @ViewBag.categoria[i].Nombre</option>

        }
        <option value="-1">Todas</option>
                </select>
              </div>
            </div>
          </div>


        <!-- Input 2 username -->
        <div class="configuracion">
          <div class="card">
            <h2 class="card-header">Usuario</h2>
            <div class="card-body">
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
          />
        </div>
        </div>
        </div>

          <!-- Select 3 dificultad-->
          <div class="configuracion" id="difs">
            <div class="card">
              <h2 class="card-header">Dificultad</h2>

              <div class="card-body">
                <select
                  class="form-select"
                  size="6"
                  aria-label="dificultades"
                  name="dificultad"
                >
                  <option value="@ViewBag.Dificultades[0].IdDificultad" selected>@ViewBag.Dificultades[0].nombre</option>

          @for(int i = 1; i<ViewBag.Dificultades.Count;i++){
          
            <option value='@ViewBag.Dificultades[i].IdDificultad'>@ViewBag.Dificultades[i].nombre</option>

          }
            <option value=-1 >Todas</option>
                </select>
              </div>
            </div>
          </div>





      </div>
    </form>
  </div>
  <div class="centrar">
      <a href='@Url.Action("Comenzar")'>
        <!-- Confirmar -->
        <input
          type="submit"
          value="Jugar"
          class="aligncenter btnw btn btn-outline-success"
          id="btnconfig"
        />
      </a>
    </div>
   



  