@{
    ViewData["Title"] = "Configuracion";
}
<div style="margin-top:7%">
<div class="centrar" >
    <form method="get" action='@Url.Action("Comenzar")' style="width:60vw" >

      <div id="formconfig">
        
      <div class="configuracion form-floating" id="catgs" style="overflow:hidden">


      <select class="form-select" aria-label="categorias" style="width:10vw" name="categoria">

        <option value="@ViewBag.Categorias[0].IdCategoria" selected>@ViewBag.Categorias[0].Nombre</option>

        @for(int i = 1; i<ViewBag.Categorias.Count;i++){
        
        <option value='@ViewBag.Categorias[i].IdCategoria'>
          <img src="@ViewBag.Categorias[i].Foto" alt="foto de la categoria"> @ViewBag.Categorias[i].Nombre
        </option>

        }
        <option value=-1>
          Todas
        </option>
      </select>
      <label for="catgs">Categoría</label>
      </div>

      <div class="configuracion form-floating" id="difs" style="overflow:hidden" >


        <select class="form-select" aria-label="dificultades" style="width:10vw" name="dificultad">
          <option value="@ViewBag.Dificultades[0].IdDificultad" selected>@ViewBag.Dificultades[0].nombre</option>

          @for(int i = 1; i<ViewBag.Dificultades.Count;i++){
          
            <option value='@ViewBag.Dificultades[i].IdDificultad'>@ViewBag.Dificultades[i].nombre</option>

          }
            <option value=-1 >Todas</option>
        </select>
        <label for="difs" >Dificultad</label>
      </div>
      <div class="configuracion form-floating mb-3" style="overflow:hidden">
       
            <input type="text" class="form-control" id="username" style="width:10vw" name="username" required>
            <label for="username">Username</label>

          
    
      </div>
    </div>
    <input type="submit" value="Confirmar" class="btnw btn btn-outline-success" id="btnconfig">

  </form>

</div> 

 <div class="centrar" style="margin-top: 2vw;" >
 <form action='@Url.Action("HighScores")' style="width:60vw">
    <input type="submit" value="Ver HighScores" class="btnw btn btn-outline-success" id="btnconfig" style="margin-top:0">
  </form>
  </div>

<div class="centrar" style="margin-top:2vw;">
    <a href='@Url.Action("AgregarPregunta", "BackOffice")' id="boton" class="btnw">
        <button type="button" class="btn btn-outline-success">Añadir pregunta</button>
    </a>
</div>
