@{
    ViewData["Title"] = "Agregar Pregunta";
}
<div style="margin-top:7%">
<div class="centrar" >
    <form method="get" action='@Url.Action("CrearPregunta","BackOffice")' style="width:60vw" >

      <div class="formconfig">
        
      <div class="configuracion form-floating" id="catgs" style="overflow:hidden">


      <select class="form-select" aria-label="categorias" style="width:10vw" name="IdCategoria">

        <option value="@ViewBag.Categorias[0].IdCategoria" selected>@ViewBag.Categorias[0].Nombre</option>

        @for(int i = 1; i<ViewBag.Categorias.Count;i++){
        
        <option value='@ViewBag.Categorias[i].IdCategoria'>
          <img src="@ViewBag.Categorias[i].Foto" alt="foto de la categoria"> @ViewBag.Categorias[i].Nombre
        </option>

        }
        <option value=-1>
          Todas
        </option>
      </select>
      <label for="catgs">Categoría</label>
      </div>

      <div class="configuracion form-floating" id="difs" style="overflow:hidden" >


        <select class="form-select" aria-label="dificultades" style="width:10vw" name="IdDificultad">
          <option value="@ViewBag.Dificultades[0].IdDificultad" selected>@ViewBag.Dificultades[0].nombre</option>

          @for(int i = 1; i<ViewBag.Dificultades.Count;i++){
          
            <option value='@ViewBag.Dificultades[i].IdDificultad'>@ViewBag.Dificultades[i].nombre</option>

          }
            <option value=-1 >Todas</option>
        </select>
        <label for="difs" >Dificultad</label>
      </div>
      <div class="configuracion form-floating mb-3" style="overflow:hidden">
       
            <input type="text" class="form-control" id="username" style="width:10vw" name="Enunciado" placeholder="usuarioejemplo" required>
            <label for="enunciado">Enunciado</label>

    
      </div>
    </div>

    <div class="formconfig">
    @for (int i=0;i<4;i++){
        <div class="configuracion form-floating mb-3" style="overflow:hidden">
       
            <input type="text" class="form-control" id="username" style="width:10vw" name="EnunciadoRespuestas[@i]" placeholder="usuarioejemplo" required>
            <label for="username">Pregunta @i</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="@i+1" name="Correcta" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Correcta
              </label>
            </div>

    
      </div>
    }
    </div>



    <input type="submit" value="Confirmar" class="btnw btn btn-outline-success" id="btnconfig">

  </form>

</div> 
</div>